html {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #004D40, #006064);
    color: #263238;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
    margin: 0px;
}

nav {
    background-color: #006064;
}

.headings {
    font-family: 'Nautilus Pompilius', sans-serif;
}

.title {
    font-size: 40px;
}

b {
    margin-left: 10px;
}

.title-description {
    font-size: 20px;
}

@media screen and (min-width: 0px) {
    nav {
        display: flex;
        justify-content: end;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    nav {
        display: flex;
        justify-content: end;
        width: 100%;
    }
}

.menu-popup {
    display: flex;
    justify-content: center;
    background-color: #00BCD4;
    border: 1px solid #E0F7FA;
    border-radius: 5px;
    margin-left: 900px;
    margin-right: 900px;
}

.add-icon {
    display: flex;
    justify-content: left;
}