html {
    width: 100%;
    height: 100%;
    background: linear-gradient(#004D40, #006064);
    color: #263238;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
    margin: 0px;
}

nav {
    background-color: #006064;
}

.headings {
    font-family: 'Nautilus Pompilius', sans-serif;
}

.title {
    font-size: 40px;
}

b {
    margin-left: 10px;
}

.title-description {
    font-size: 20px;
}